<table style="width: 100%;">
  <tbody>
    <tr>
      <td><h1>Weather4Me Forecasts</h1>
      </td>
      <td>
        <%= form_tag(weather4_me_forecasts_path, method:'get') do %>
          <label for="q"><b>Location: </b></label>
          <%= text_field_tag :q, params[:q], placeholder:'Location of weather' %>
          <%= submit_tag 'Search', class: 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% if @is_cached %>
  <div style="color: #999;">* Cached *</div>
  <br/>
<% end %>
<%= render partial:'table', locals:{ forecasts: @forecasts } %>
<br>

